<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
 <!-- http://t.co/dKP3o1e -->
 <meta name="HandheldFriendly" content="True">
 <meta name="MobileOptimized" content="320">

 <title>Beer Tracker</title>
 <meta name="description" content="test">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link type="text/css" rel="stylesheet" media="screen and (min-device-width: 800px)" href="{{url_for('static',filename="iot.css")}}" />
<link type="text/css" rel="stylesheet" media="screen and (max-device-width: 800px)" href="{{url_for('static',filename="iotsm.css")}}" />
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 <script type="text/javascript" src="http://www.google.com/jsapi"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
function choosenode(theid)
{
	console.log("choosenode " + theid);
    var my_json = "";
        $.getJSON("{{url_for('getNdata')}}?node="+theid,function(json){
                my_json =json;
                $("#Idm").text(my_json.Id);
                 $("#Ipm").val(my_json.IP);
		$("#Namem").val(my_json.name);
		$("#Setpointm").val(my_json.setp);
		$("#bTimem").val(my_json.brewfor);
                });
		$("#newNodeModal").modal("show");

}

function chooseitem(theid)
{
	console.log("chooseitem " + theid);
    var my_json = "";
        $.getJSON("{{url_for('getSdata')}}?node="+theid,function(json){
                my_json =json;
                $("#IdI").text(my_json.uid);
                 $("#daysI").val(my_json.days);
		$("#nameI").val(my_json.name);
		$("#SetpointI").val(my_json.temp);
		$("#hoursI").val(my_json.hours);
                });
		$("#NodeInfoModal").modal("show");


}




function readitems()
{
	var my_json = "";
        $.getJSON("{{url_for('schedulelist')}}",function(json){
		my_json =json;
		var numberofitems = parseInt(my_json.items);
		if(numberofitems > 0)
		{
			//window.alert("have items "+my_json.items);
			var noticeboard = document.getElementById('board');
			theitems = my_json.item;
			for(i=0; i < theitems.length; i++)
			{
				var element = document.createElement("div");
				var listel = document.createElement("ul");
				var inlist = document.createElement("li");
				var light = document.createElement("div");

				inlist.appendChild(document.createTextNode(theitems[i].name + "  : "+theitems[i].time + " New temp: " + theitems[i].temp));
				inlist.className = "tt";
				listel.appendChild(inlist);
				element.appendChild(listel);
				element.className = "listgood";
				element.id = theitems[i].uid;
				element.setAttribute("onclick", "chooseitem(" + theitems[i].uid +")");

				noticeboard.appendChild(element);
			}

			
		}
		else
		{
			//window.alert("nothing to do");
			//$("#newNodeModal").modal("show");
		}
	});
}


function additem()
{
	var nodeid = document.getElementById('nodem').value;
	var thisSetpoint = document.getElementById('Setpointm').value;
	var thisdays = document.getElementById('daysm').value;
	var thishours = document.getElementById('hoursm').value;
	//window.alert(thisid+thisName+thisip);
	var my_json = "";
	$.getJSON("{{url_for('Action')}}?node="+nodeid+"&days="+thisdays+"&hours="+thishours+"&temp="+thisSetpoint,function(json){
		my_json = json;
		if(my_json.status == "ok")
		{
			window.alert("Done ok");
			//location.reload();
			readitems();
		}
		else
		{
			window.alert("error"+my_json.status);
		}
	});
	$("#newNodeModal").modal("hide");
}

function deletenode()
{
	var thisid = document.getElementById('IdI').innerHTML;
	//var thisName = document.getElementById('Name').value;
	//var thisip = document.getElementById('Ip').value;
	//window.alert(thisid+thisName+thisip);
	var my_json = "";
	$.getJSON("{{url_for('delSdata')}}?uid="+thisid,function(json){
		my_json = json;
		if(my_json.status == "ok")
		{
			window.alert("Done ok");
			location.reload();
		}
		else
		{
			window.alert("error"+my_json.status);
		}
		$("#NodeInfoModal").modal("hide");
	});
}
function addnode()
{
	var thisid = document.getElementById('Idm').innerHTML;
	var thisName = document.getElementById('Namem').value;
	var thisip = document.getElementById('Ipm').value;
	var thisSet = document.getElementById('Setpointm').value;
	//window.alert(thisid+thisName+thisip);
	var my_json = "";
	$.getJSON("{{url_for('newNode')}}?name="+thisName+"&Ip="+thisip+"&setp="+thisSet,function(json){
		my_json = json;
		if(my_json.status == "ok")
		{
			window.alert("Done ok");
			location.reload();
		}
		else
		{
			window.alert("error"+my_json.status);
		}
	});
}
function copyover()
{
	var theNode = document.getElementById('nodesm').value;
	document.getElementById('nodem').value = theNode;
	
}

readitems();

</script>
</head>
<body>
<!--
<div class='top'>
 <ul>
  <li><a href="{{url_for('thelogout')}}">History</a></li>
  <li><a href="{{url_for('mNodes')}}">Mobile</a></li>
  <li><a href="{{url_for('theAbout')}}">About</a></li>
</ul>
</div>
 -->


<div class='left'>
Id<br>
<div id='Id' class='displayer' ></div><br>
<p>Node</p>
<input type="text" id='node' class='displayertext' ><br>

<select class='button' name="nodes" id="nodes" onchange="copyover()">
	{%for row in allnodes%}
	<option value='{{row[0]}}'>{{row[1]}}</option>
	{% endfor %}
</select><br>


<p>Setpoint</p>
<input type='text' id='Setpoint' class='displayertext' ><br>
<p>Days</p>
<input type='text' id='days' class='displayertext' ><br>
<p>Hours</p>
<input type='text' id='hours' class='displayertext' ><br>


</div>
<div class='top'>
 <ul>
  <li><a href="{{url_for('thelogout')}}">History</a></li>
  <li><a href="{{url_for('mNodes')}}">Manage</a></li>
  <li><a href="{{url_for('theAbout')}}">About</a></li>
</ul>
</div>


<div class='main'>
<div class= 'graph' id='board'>



<div class="modal fade" id="newNodeModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<H2>New item</H2>
			</div>
			<div class="modal-body">
				Id<br>
				<div id='Idm' class='displayer' ></div><br>
				<p>Node</p>
				<input type="text" id='nodem' class='displayertext' ><br>
				
				<select class='button' name="nodes" id="nodesm" onchange="copyover()">
					{%for row in allnodes%}
					<option value='{{row[0]}}'>{{row[1]}}</option>
					{% endfor %}
				</select><br>
				
				
				<p>Setpoint</p>
				<input type='text' id='Setpointm' class='displayertext' ><br>
				<p>Days</p>
				<input type='text' id='daysm' class='displayertext' ><br>
				<p>Hours</p>
				<input type='text' id='hoursm' class='displayertext' ><br>


					
			


			</div>
			<div class="modal-footer">
				<button type="button" class="button" data-dismiss="modal">Cancel</button>
				<button class='button'  onclick=additem() name='update' id='updater'>Add</button>
				<button class='button'  onclick=deletenode() name='update' id='adder'>Delete</button>
			</div>

		</div
		
	</div>

</div>
</div>

<div class="modal fade" id="NodeInfoModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<H2>Item Info</H2>
			</div>
			<div class="modal-body">
				Id<br>
				<div id='IdI' class='displayer' ></div><br>
				<p>Node</p>
				<input type="text" id='nameI' class='displayertext' ><br>
				
				<p>Setpoint</p>
				<input type='text' id='SetpointI' class='displayertext' ><br>
				<p>Days</p>
				<input type='text' id='daysI' class='displayertext' ><br>
				<p>Hours</p>
				<input type='text' id='hoursI' class='displayertext' ><br>


			</div>
			<div class="modal-footer">
				<button type="button" class="button" data-dismiss="modal">Cancel</button>
				<button class='button'  onclick=deletenode() name='update' id='adder'>Delete</button>
			</div>

		</div>
		
	</div>

</div>





</div>

<button type="button" class="button" data-toggle="modal" data-target="#newNodeModal">Add</button>
<button class='button'  onclick=readitems() name='update' id='adder'>Refresh</button>





</body>
